.front-header {
    display: flex;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #eee;
    background: #fff;
}
.front-header-left {
    width: 100px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.front-header-left img, .front-header-dropdown img {
    width: 40px;
}
.front-header-left .title {
    flex: 1;
    color: #333;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}
.front-header-center {
    flex: 1;
}

.front-header-right {
    width: 300px;
    padding-right: 20px;
    text-align: right;
    outline: none;
}
.front-header-dropdown {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: right;
    outline: none !important;
}
.el-dropdown-menu {
    width: 100px !important;
    text-align: center !important;
}

/*页面具体样式自定义*/
.main-content {
    width: 60%;
    margin: 10px auto;
}
/* ElementUI 样式覆盖 */
.el-menu.el-menu--horizontal {
    border: none !important;
    height: 59px;
}

.front-notice {
    padding: 10px 20px;
    color: #666;
    font-size: 14px
}

:deep(.el-tooltip__trigger) {
    outline: none !important;
}

